@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
}

:root{
    /* Colors primary */
    --Moderate-cyan: hsl(176, 50%, 47%);
    --Dark-cyan: hsl(176, 72%, 28%);
    --White: hsl(0, 0%, 100%);
    /* Colors neutral */
    --Black: hsl(0, 0%, 0%);
    --Dark-gray: hsl(0, 0%, 48%);
    --Light-gray-opacity: hsl(0, 0%, 90%);
    --Light-gray: hsl(0, 0%, 95%);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--Light-gray) !important;
}

h2,h3,h5,h6,ul,p,figure,.modal-content{
    margin: 0 !important;
}

#modal-menu .modal-body{
    padding: 0;
}

#modal-menu .btn-close{
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 10px;
}

#modal-menu .modal-content .btn-close:hover,.modal .articles-modal label input,.modal .articles-modal h6:hover,.container-btn-bookmark,.modal .articles-modal label .check-radio:hover{
    cursor: pointer;
}

.modal .articles-modal input:not(input[type="number"]),.container-btn-bookmark span{
    display: none;
}

.modal ul,.modal .articles-modal input + label .check-radio::after{
    display: block;
}

.modal ul li,.line-progress{
    width: 100%;
}

.modal ul li{
    border-bottom: 1px solid var(--Light-gray-opacity);
}

#modal-support .modal-content,.modal-body{
    display: grid !important;
    padding: 2rem 1rem;
}

.modal ul li,.modal-title,.container-btn-bookmark span,h2,h3,h4,h5,h6,input[type=number]{
    font-weight: 700 !important;
}

.modal-body,.modal .articles-modal,.modal .articles-modal label{
    gap: 1rem;
}

.modal-body p,section p,.container-btn-bookmark span,article .row-infos span,.modal .articles-modal span{
    color: var(--Dark-gray);
}

.modal .articles-modal,section,article{
    border: 1px solid var(--Light-gray-opacity);
    padding: 1.5rem 1rem;
    border-radius: 10px;
}

.modal .articles-modal{
    display: grid;
}

.modal ul li,.container-btn-bookmark span,.menus,section button{
    padding: 1rem;
}

.container-btn-bookmark span.marked{
    color: var(--Dark-cyan);
}

.circle-btn-bookmark.marked{
    fill: var(--Dark-cyan);
}

.modal .articles-modal label :is(input,h6,.check-radio){
    transition: .3s;
}

.modal .articles-modal.check,.modal .articles-modal label .check-radio:hover,.modal .articles-modal input:checked + label .check-radio{
    border: 1px solid var(--Moderate-cyan);
}

.modal .articles-modal label{
    display: flex;
}

.modal .articles-modal label .check-radio{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid var(--Light-gray-opacity);
    padding: 3px;
}

.modal .articles-modal input + label .check-radio::after{
    content: '';
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.modal .articles-modal input:checked + label .check-radio::after{
    background-color: var(--Moderate-cyan);
}

.modal .articles-modal input:checked + label .check-radio::after{
    background-color: var(--Moderate-cyan);
}

#modal-back-project .modal-content{
    height: 80vh;
}

#modal-back-project .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--Light-gray-opacity);
    padding: 2rem 0 0;
}

#modal-back-project .content div{
    display: flex;
    gap: 1rem;
    align-items: center;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number]::placeholder{
    color: var(--Dark-gray);
    opacity: .3;
}

#modal-back-project .content input{
    border-radius: 20px;
    padding: 10px;
    text-indent: 15px;
    outline: none;
    border: 1px solid var(--Light-gray-opacity);
    border-radius: 2rem;
}

#modal-back-project .content :is(input,button){
    width: 35%;
    padding: 1rem;
}

#modal-back-project .modal-body{
    overflow-y: auto;
}

.modal .modal-body::-webkit-scrollbar{
    width: .5rem;
    height: 1rem;
}

.modal .modal-body::-webkit-scrollbar-track {
    background: var(--White);
    border-radius: 0 .3rem .3rem 0;
}

.modal .modal-body::-webkit-scrollbar-thumb {
    background-color: var(--Light-gray);
    border-radius: 20px;
}

.modal .articles-modal .articles-modal-prices,section .articles-section-3 span:nth-child(2){
    color: var(--Moderate-cyan);
    font-weight: 500;
}

.modal .articles-modal label input,button{
    outline: none;
}

.modal .articles-modal label input:checked,button:hover:not(.button-menu,.btn-close){
    background-color: var(--Dark-cyan);
}

.modal .articles-modal h6:hover{
    color: var(--Moderate-cyan);
}

.modal ul li:nth-last-child(1),.modal .modal-header,.modal .modal-footer,button{
    border: none;
}

.modal-footer{
    justify-content: center !important;
}

.modal-footer button{
    padding: 1rem 3rem;
}

#modal-support,.section-1,.section-2{
    text-align: center;
}

header{
    background: url(./images/image-hero-mobile.jpg) center no-repeat;
    background-size: cover;
    height: 50vh;
}

.menus{
    position: static;
    z-index: 10;
    justify-content: space-between !important;
}

header .menus a{
    color: var(--White);
}

.menus,ul{
    display: flex;
    align-items: center;
}

.menus .button-menu,.container-btn-bookmark{
    background: transparent;
}

ul{
    display: none;
    list-style: none;
    gap: 3rem;
    padding: 0 !important;
}

a{
    text-decoration: none !important;
}

.container{
    display: flex;
    place-content: center;
    position: absolute;
}

main{
    display: grid;
    margin: 0 1.5rem;
    gap: 1.5rem;
    position: relative;
    top: -4rem;
    z-index: 20;
}

section{
    display: grid;
    background-color: var(--White);
    border-radius: 5px;
    gap: 1.5rem;
    padding: 2rem 1rem;
}

.section-1{
    position: relative;
}

.line-progress{
    position: relative;
    height: .8rem;
    border-radius: 20px;
    background-color: var(--Light-gray);
}

.line-progress::before{
    content: "";
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: var(--Moderate-cyan);
}

.section-2{
    place-items: center;
}

.section-2 .information{
    padding: 2rem 0;
}

.section-2 .information h2,section .articles-section-3 h2{
    font-size: 2rem;
}

.section-2 .information:nth-child(-n+2){
    border-bottom: 1px solid var(--Light-gray-opacity);
    line-height: 3rem;
}

section .articles-section-3,article .row-infos{
    display: grid;
    gap: 2rem;
}

section .articles-section-3 :is(h5,span){
    font-size: 1rem;
}

section .articles-section-3:last-child,.modal .articles-modal:last-child{
    opacity: .5;
}

section .articles-section-3:last-child button{
    background-color: var(--Dark-gray);
}

.section-1 img:not(.img-bookmark){
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
}

.section-1 .content-buttons button:first-child,article .row-infos button{
    width: 70%;
    font-weight: 500;
}

article .row-infos h2,.modal .articles-modal h4{
    display: flex;
    align-items: center;
    gap: .5rem;
}

article .row-infos span,.modal .articles-modal span{
    font-size: .8rem;
    font-weight: 400;
}

.modal .articles-modal span{
    font-size: 1rem;
}

button{
    border-radius: 2rem !important;
    color: var(--White);
    background-color: var(--Moderate-cyan);
    transition: .5s;
}

.content-buttons{
    display: flex;
    justify-content: space-around;
}

.button-bookmark{
    background: url(./images/icon-bookmark.svg) center no-repeat var(--Black);
    clip-path: circle();
}

.button-top-page{
    position: fixed;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    bottom: 1rem;
    background-color: var(--Moderate-cyan);
    transition: .5s;
    transform: translateY(100px);
}

.button-top-page.show-button{
    transform: translateY(0);
}

@media (min-width: 820px){    
    header{
        background: url(./images/image-hero-desktop.jpg) center no-repeat;
        height: 45vh;
        background-size: cover;
    }

    #modal-back-project .modal-dialog{
        max-width: 43.75rem;
    }

    main{
        width: 70%;
        position: relative;
        top: -5rem;
    }

    .menus{
        padding: 2rem 5rem;
    }

    ul{
        display: inline-flex;
        color: var(--White);
    }

    .menus .button-menu{
        display: none;
    }
    
    section{
        padding: 3rem;
    }

    .container-btn-bookmark{
        display: flex;
        align-items: center;
        background-color: var(--Light-gray);
        border-radius: 2rem;
    }

    .container-btn-bookmark span{
        display: inline-flex;
    }

    section h3{
        font-size: 1.2rem;
    }

    .section-1 .content-buttons button:first-child,.articles-section-3 .row-infos button{
        width: 35%;
        min-width: 10rem;
    }

    .content-buttons{
        justify-content: space-between;
    }

    .section-2 .container-information{
        display: flex;
        gap: 2rem;
    }
    
    .section-2 .information{
        display: grid;
        width: max-content;
        padding: 0 3rem 0 0;
    }

    .section-2 .information:nth-child(-n+2){
        border-right: 1px solid var(--Light-gray-opacity);
        border-bottom: none;
    }

    .articles-section-3 .rows-articles,.articles-section-3 .row-infos{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}